.form-control {
  background-color: white;
}

.country-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country-image {
  max-height: 500px;
  max-width: 500px;
}
